{
    "spinningCover": true,
    "showSeconds": false,
    "hourFormat": 0,
    "carouselSpeed": 30,
    "transparentBar": false,
    "fontFamily": "Inter",
    "trayBlacklist": ["spotify", "Spotify"],
    "tintTrayIcons": false,
    "nightLightTemp": 4000,
    "dayLightTemp": 6500,
    "floatingBar": true,
    "huggingBar": false,
    "screenCorners": true,
    "dateFormat": 0,
    "osdPosition": 0
}
